# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__
* Python
* R
* SQL 
* Julia

### Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. Julia
1. Go
1. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Ggplot
1. Keras
1. Pytourch
1. Scrapy

|Data Science Tools|
|:-----------------|
|Python|
|TensorFlow|
|Matlab|
|Docker|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minute = 200
minutes_to_hours = 60
hours = minute / minutes_to_hours
print(hours)

3.3333333333333335

## Author
Frederick Koomson